
body {
	margin-top: 100px;
	margin-left: 50px;
	width: 80%;
}

h1 {
	left: 600px;
	font-size: 3em;
	position: absolute;
	right: 100px;
}

span {
	margin-top: 80px;
	font-size: 3em;
	position: absolute;
	left: 375px;
}

.cookie-image {
	margin-top: 0;
	width: 200px;
	height: 200px;
	position: relative;
	top: 0;
	left: 0;
	transition: all 2s;
}

.eaten {
	left: 800px;
	top: 260px;
}

.eaten1 {
	top: 80px;
	left: 800px;
}

.eaten2 {
	top: -110px;
	left: 800px;
}

.background-image {
	height: 70%;
	left: 450px;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -100;
}

.clearCookies {
	position: absolute;
	left: 950px;
	right: 200px;
	top: 600px;
	font-size: 1.5em;
}

.addLemon {
	position: absolute;
	top: 650px;
	left: 290px;

}

.addChocolate {
	position: absolute;
	top: 450px;
	left: 290px;
}

.addSugar {
	position: absolute;
	top: 250px;
	left: 290px;
}
